.toque{
    visibility: hidden;
}

.botao{
    background-color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    margin: 4vw .8vw;
    display: inline-block;
    text-align: center;
}

.botao-nome{
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.botao-fotos{
    width: 100px;
    height: 100px;
    text-align: center;
}

.botao-titulo{
    font-weight: 700;
    padding: 1em;
    background-color: var(--marrom);
    color: var(--laranja);
    text-transform: uppercase;
    text-align: center;
}

.texto-botao{
    text-align: center;
    color: var(--marrom);
    padding: 1em;
    font-weight: 700;
}

.botaobolo, .botaosalgados, .botaodoces, 
.botaobolopadrao,.botaobolocomcobertura, .botaoboloconfeitado, 
.botaomassachocolate, .botaomassacenoura, .botaomassabaunilha, 
.botaocoberturachocolate, .botaocoberturachantily, .botaocoberturachocolatebranco, 
.botaorecheiochocolate, .botaorecheiochocolatebranco, .botaorecheioprestigio, 
.botaodascoxinhas, .botaodosminihamburguers, .botaodosminipasteis, 
.botaodosenroladinhos, .botaodasbolinhasdequeijo, .botaodoskibes, 
.botaodosbrigadeiros, .botaodosbeijinhos, .botaodosdoisamores,
.botaodosbrigadeirosdemorango, .botaodosbrigadeirosdeuva, .botaodosbombons{
    width: 31vw;
}

.salgados, .doces{
    display: none;
}

.primeiralinha, .segundalinha, .primeiraetapa, .produtosarruma,  .firstline{
    display: flex;
}

#quantidadecoxinhas, #quantidademinihamburguer, #quantidademinipastel, 
#quantidadeenroladinho, #quantidadebolinhadequeijo, #quantidadekibe, 
#quantidadebrigadeiro, #quantidadebeijinho, #quantidadedoisamores, 
#quantidadebrigadeirodemorango, #quantidadebrigadeirodeuva, #quantidadebombom,
#kilosdebolo{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coxinhas, .minihamburguer, .minipastel, 
.enroladinho, .bolinhadequeijo, .kibe, 
.brigadeiro, .beijinho, .doisamores, 
.brigadeirodemorango, .brigadeirodeuva, .bombom,
.bolo-tipo{
    display: none;
    border: 1px solid var(--joao);
    border-radius: 10px;
    padding: 2vw 0;
}

.borda-botao{
    background-color: var(--marrom);
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    margin: 4vw .8vw;
    display: flex;
    text-align: center;
    color: var(--marrom);
}

.botao-link{
    text-decoration: none;
    color: var(--laranja);
    padding: 3vw;
}

.botao-espaco{
    justify-content: center;
    align-items: center;
    display: flex;
}

