.tiposdebolo, .massasdebolo, 
.coberturasdebolo, .recheiosdobolo{
    display: none;
    align-items: center;
}

.apenastiposdebolo, .apenasmassasdebolo, 
.apenascoberturasdebolo, .apenasrecheiosdebolo{
    display: flex;
}




