.tiposdebolo{
    display: none;
    align-items: center;
}

.apenastiposdebolo{
    display: flex;
    justify-content: space-between;
}

.massasdebolo{
    display: none;
}

.apenasmassasdebolo{
    display: flex;
    justify-content: space-between;
}

.coberturasdebolo{
    display: none;
}

.apenascoberturasdebolo{
    display: flex;
    justify-content: space-between;
}

.recheiosdobolo{
    display: none;
}

.apenasrecheiosdebolo{
    display: flex;
    justify-content: space-between;
}


