.botao{
    background-color: var(--laranja);
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    width: 30%;
    margin: 4% .8%;
    display: inline-block;
    text-align: center;
}

.botao-geral{
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--joao);
}

.botao-nome{
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.botao-fotos{
    width: 100px;
    height: 100px;
    text-align: center;
}

.botao-titulo{
    font-weight: 700;
    padding: 1em;
    background-color: var(--marrom);
    color: var(--laranja);
    text-transform: uppercase;
    text-align: center;
}

.texto-botao{
    text-align: center;
    color: var(--marrom);
    padding: 1em;
    font-weight: 700;
}

.botao-tipo{
    width: 95% ;
    margin-left: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.botao-massa{
    width: 95% ;
    margin-left: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
}